.project-main {
    margin-bottom: 15%;
}

#cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 15%;
    margin-top: 100px;
    margin: 50px 150px;
}

.project-cards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 50%;
    height: 400px;
}

#project-img {
    position: absolute;
    z-index: 9999;
}

#project-img:hover {
    opacity: 0.3;
    z-index: 1;
}

.show {
    position: relative;
    z-index: 1;
    color: white;
}

.show:hover {
    z-index: 9999;
    color: black;
}

h2.show {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h3.show {
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 1025px) {
    #cards-container {
        margin-left: 0;
        margin-right: 0;
    }
    .project-cards {
        height: 20vh;
        justify-content: center;
    }
    #project-img {
        width: 400px !important;
        height: 200px !important;
    }
}

@media (max-width: 769px) {
    #project-img {
        width: 375px !important;
        height: 200px !important;
    }
}

@media (max-width: 415px) {
    #cards-container {
        flex-direction: column;
    }
    .project-cards{
        margin-bottom: 75px;
        height: 400px;
    }
}

@media (max-width: 376px) {
    #project-img {
        width: 350px !important;
        height: 200px !important;
    }
}