#portfolio-header {
    color: var(--tertierary-color);
    border-bottom: 4px solid var(--tertierary-color);
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 1%;
}

.portfolio {
    margin-bottom: 10%;
}

@media (min-width: 769px) {
    .portfolio {
        padding-bottom: 50px;
    }
}