:root{
    --main-color: #3F7CAC;
    --secondary-color: #A9FFF7;
    --tertierary-color: #002C45;
    --soft-color: #B8E1FF;
    --light-color: #94FBAB;
    --dark-color: #385785;
}

html, body {
    background-color: var(--main-color);
    width: 100%;
    min-height: 100%;
    margin: 0;
    position: absolute;
}

#main-container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
}

a, a:hover, a:focus, a:active  {
    text-decoration: none;
    color: inherit;
}

.bg {
    background-color: var(--dark-color);
}

@media (min-width: 769px) {
    .portfolio {
        padding-bottom: 50px;
    }
}